@wii-fe:registry=https://wii-npm.pkg.coding.net/wii-fe/waunpm/
; 请妥善保管您的配置
always-auth=true
//wii-npm.pkg.coding.net/wii-fe/waunpm/:username=waunpm-1622604604228
//wii-npm.pkg.coding.net/wii-fe/waunpm/:_password=NjE4NjFjNWQ0YzM0MzJmNjIzMjg1ZGYyZjdjMjdhMGRiMmU0YTVkNg==
//wii-npm.pkg.coding.net/wii-fe/waunpm/:email=baertang@tencent.com
