{
  "presets": [
    "@babel/preset-env",
    [
      // react 17 不用引入react
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
